.page-title {
  text-align: center;
  padding: 0px 50px;
  > h1 {
    font-size: 34px;
    border-bottom: 1px solid silver;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

.loader {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 40px;
    letter-spacing: 0.3em;
  }